/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.personal_last_block {
		margin-top: 35px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.resume_container .left,
	.section_content .resume_container h3,
	.resume_container .resume_icon {
		text-align: left;
	}
	.desktop_mnu ul {
		list-style-type: none;
		text-align: center;
		margin: 20px 0 0 0;
	}

	.desktop_mnu ul li {
		display: inline-block;
		margin-right: 15px;
	}
	.desktop_mnu ul li:last-child {
		margin-right: 0;
	}
	.desktop_logo_container {
		display: none;
	}
	.logo_container {
		float: left;
		display: block;
	}
	.logo_container img {
		height: 60px;
		width: 60px;
		position: relative;
		z-index: 40;
	}
	.toggle_mnu {
		display: block;
	}
	.desktop_mnu {
		display: none;
	}
	.portfolio_item .port_item_cont {
		top: 50%;
		transition: none;
	}
	.portfolio_item .port_item_cont_bg {
		transition: none;
	}
	.portfolio_item > a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		outline: 0;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top_wrapper .top_text h1 {
		font-size: 2em;
	}
	.main_footer .social_wrap {
		float: left;
		margin-top: 20px;
		width: 100%;
	}
	.main_footer .social_wrap ul {
		padding-left: 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}